<div class="container">
  <h1>{{title}}</h1>
  <hr>
  <div class="row">
    <p class="text-danger">{{missing_member_message}}</p>
    <button class="btn btn-primary" [ngClass]="disableBtn? 'disabled': 'active'" (click)="activateDraw()">Activate the draw</button> 
  </div>
  <!-- <div class="row">
    <label>Draw Result:</label>
    <div class="container">
      <div *ngFor="let member of members">
        <div class="col-md-4">
          {{member.name}}
        </div>
        <div class="col-md-4">
           {{member.spouse}}
        </div>
        <br><br>
      </div>
    </div>
  </div> -->
</div>
