<div class="container page_wrapper">
  <h1>{{title}}</h1>
  <div class="row button_container">
    <hr>
    <p class="text-danger">{{missing_member_message}}</p>
    <button class="btn btn-primary" [ngClass]="disableBtn? 'disabled': 'active'" (click)="activateDraw()">{{btnContent}}</button>
    <hr> 
  </div>
  <div class="row result_container" *ngIf="showResult">
    <label>Draw Result</label>
    <div class="container">
      <div class="title_container">
        <div class="col-md-4">
         <label class="title">Participant</label> 
        </div>
        <div class="col-md-4">
          <label class="title">Participant's Spouse</label>
        </div>
        <div class="col-md-4">
          <label class="title">Santa to</label>
        </div>
        <br><br>
      </div>
      <div class="item_container" *ngFor="let member of members">
        <div class="col-md-4">
          <label>{{member.name}}</label>
        </div>
        <div class="col-md-4">
          <label>{{member.spouse}}</label>
        </div>
        <div class="col-md-4">
           <label>{{member.santa}}</label>
        </div>
        <br><br>
      </div>
    </div>
  </div> 
</div>
