<div class="container">
  <h1>{{title}}</h1>
  <hr>
  <form class="well" >
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="memberName" name="memberName" placeholder="Your Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="spouseName" name="spouseName" placeholder="Enter your spouse's name">
    </div>
    <div class="form-group">
      <p class="text-danger">{{errorMsg}}</p>
      <button class="btn btn-primary submit" (click)="addMember($event)">Add A Family Member</button>
    </div>
    <div class="member-list">
      <div *ngFor="let member of members">
        <div class="col-md-1">
          <input type="checkbox" [checked]="member.isMatched">
        </div>
        <div class="col-md-7">
          {{member.name}}
        </div>
        <div class="col-md-4">
          <input type="button" value="Delete" class="btn btn-danger" (click)="deleteMember(member._id)"> 
        </div>
        <br><br>
      </div>
    </div>
  </form>
</div>

