<div class="container page_wrapper">
  <div class="title_container">
    <h1>{{title}}</h1>
  </div>
  <div class="nav_container">
    <hr>
    <nav class="navbar navbar-toggleable-md navbar-light">
      <ul class="navbar-nav container">
        <li class="nav-item col-md-4">
          <a class="nav-link" routerLink="admin-port">Start the Draw</a>
        </li>
        <li class="nav-item col-md-4">
          <a class="nav-link" routerLink="manage-members">Manage Participants</a>
        </li>
        <li class="nav-item col-md-4">
          <a class="nav-link" routerLink="check-santa">Check Status</a>
        </li>
      </ul>
    </nav>
    <hr>
  </div>
  <div class="logo_container">
    <div class="logo"></div>
    <div class="copy_right">
      <br>
      <br>
      <p class="author">{{info.author}}</p>
      <p class="project_info">{{info.stack}}</p>
    </div>
  </div>
</div>